#Inputs{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

#table{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10%;
}

.bold{
    font-weight: 1000;
}

input {
    display: block;
    margin-right: 60px;
}

button{
    margin-left: 10px;
}