#main{
    justify-content: center;
}

form{
    margin-top: 10%;
    display: inline-flex;
    width: 70%;
    border: 1px solid black;
}

input {
    display: block;
    margin-right: 60px;
}

button{
    margin-left: 10px;
}